@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    border-radius: theme("borderRadius.lg");
    overflow: hidden;
    max-width: 57.5rem;
  }

  .card__section {
    padding: theme("padding.12");
  }

  .card__title {
    color: theme("colors.n-very-light-gray");
    text-transform: uppercase;
    font-family: theme("fontFamily.big-shoulders");
    font-weight: theme("fontWeight.bold");
    font-size: 2.5rem;
  }

  .card__copy {
    color: theme("colors.n-transparent-white");
    --flow-space: 1.4rem;
    line-height: theme("lineHeight.relaxed");
  }

  .btn {
    background-color: theme("colors.n-very-light-gray");
    padding: 0.75rem 2rem;
    border-radius: theme("borderRadius.full");
    --flow-space: 1.5rem;
  }

  .btn:hover,
  .btn:focus-visible {
    background-color: transparent;
    color: theme("colors.n-very-light-gray");
    border: 0.125rem solid;
  }

  @media (min-width: theme("screens.sm")) {
    main {
      padding-inline: theme("padding.28") !important;
    }
  }

  @media (min-width: theme("screens.lg")) {
    .card {
      display: flex;
    }

    .card__copy {
      padding-right: theme("padding.1");
    }

    .btn {
      --flow-space: 5.25rem;
    }
  }
}

@layer utilities {
  .flow > * + * {
    margin-top: var(--flow-space, 1.8rem);
  }
}
